<form #theForm="ngForm" (ngSubmit)="addHifz(theForm)">
  <legend>Hifz Editor</legend>

  <div class="form-group">
    <div class="form-inline">
      <label class="control-label">Surah Name</label>
      <select #selectedValue class="form-control" *ngIf="surahs"
              name="suraName" id="sura" ngModel>
        <option *ngFor="let surah of surahs" value="{{surah.name}}">
          {{surah.name}}
        </option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="form-inline">
    <label>From Aya</label>

      <input type="number" class="form-control" name="fromAya" id="fromAya" placeholder="Number.." ngModel required>
    </div>
  </div>
  <div class="form-group">
    <div class="form-inline">
    <label>To Aya</label>
      <input type="number" class="form-control" name="toAya" id="toAya" placeholder="Number.." ngModel required>
    </div>
  </div>
  <div class="form-group">
    <div class="form-inline">
      <label class="control-label">Task Type</label>
      <select #selectedValue class="form-control" name="taskType" id="taskType" ngModel>
        <option value="Memorization"> Memorization</option>
        <option value="Revision"> Revision</option>
      </select>
    </div>
  </div>


  <button type="submit" [disabled]="!theForm.valid" class="btn btn-success">Submit Hifz</button>
</form>
